#app {
  @apply bg-purple-900 min-w-[100vw] min-h-[100vh];
}

.btn-primary {
  @apply rounded-lg font-bold transition-all duration-200 transform hover:scale-105 shadow-lg;
}

.btn-secondary {
  @apply rounded-lg font-bold transition-all duration-200 transform hover:scale-105 shadow-lg;
}

.answer-input {
  @apply text-2xl bg-purple-700 border-2 border-purple-500 text-white placeholder-purple-300 rounded-lg;
}

.navbar {
  @apply flex justify-around items-center;
}

.router-link-exact-active {
  @apply bg-green-500;
}